<section class="contato">
  <ul>
    <img
      [src]="avatar"
      alt="Avatar do contato"
      class="avatar"
      [routerLink]="['/perfil-contato', id]"
    >
    <li class="nome">
      <strong>{{ nome }}</strong>
    </li>
    <li>{{ telefone }}</li>
    <li>
      <button [routerLink]="['/formulario', id]">
        <img src="/assets/pencil-square.png" alt="editar">
      </button>
      <button [routerLink]="['/perfil-contato', id]">
        <img src="/assets/trash.png" alt="remover">
      </button>
    </li>
  </ul>
</section>
