<app-container>
  <header>
    <section class="cabecalho-link">
      <img src="assets/logo.png" alt="Logo">
    </section>
    <section class="voltar">
      <button [routerLink]="['/lista-contatos']" routerLinkActive="router-link-active" >
        <img src="assets/arrow-left.png" alt="Voltar">
        Voltar
      </button>
    </section>
    <section class="cabecalho-contato">
      <img src="assets/adicionar-contato.png" alt="Adicionar contato">
      <h1>Adicionar contato</h1>
    </section>
  </header>


  <form [formGroup]="contatoForm" (ngSubmit)="salvarContato()">
    <label for="nome">Nome <span class="obrigatorio">(*)</span></label>
    <input
      type="text"
      id="nome"
      placeholder="Digite o nome do contato"
      formControlName="nome"
    />
    @if (contatoForm.get('nome')?.errors && contatoForm.get('nome')?.touched) {
      <div class="mensagem-erro">Campo requerido</div>
    }

    <label for="telefone">Número <span class="obrigatorio">(*)</span></label>
    <input
      type="text"
      id="telefone"
      placeholder="Digite o número do telefone"
      formControlName="telefone"
    />
    @if (contatoForm.get('telefone')?.errors && contatoForm.get('telefone')?.touched) {
      <div class="mensagem-erro">Campo requerido</div>
    }

    <label for="email">E-mail <span class="obrigatorio">(*)</span></label>
    <input
      type="email"
      id="email"
      placeholder="Insira o endereço de e-mail do contato"
      formControlName="email"
    />
    @if (contatoForm.get('email')?.errors?.['required'] && contatoForm.get('email')?.touched) {
      <div class="mensagem-erro">Campo requerido</div>
    }
    @if (contatoForm.get('email')?.errors?.['email'] && contatoForm.get('email')?.touched) {
      <div class="mensagem-erro">Formato de e-mail inválido</div>
    }

    <app-separador />
    <br>

    <label for="aniversario">Data de aniversário</label>
    <input
      type="date"
      id="aniversario"
      formControlName="aniversario"
    />

    <label for="redes">Redes sociais</label>
    <div class="input-container">
      <span class="span-http">http://</span>
      <input
        type="url"
        id="redes"
        placeholder="Adicione a URL da página"
        formControlName="redes"
      />
    </div>

    <label for="observacoes">Observações</label>
    <textarea
      id="observacoes"
      placeholder='Coloque observações nesse espaço. Exemplo: "Instrutora da academia", "Nova imagem", "Amiga da Júlia".'
      formControlName="observacoes"
    ></textarea>

    <section class="botoes">
      <button class="botao-cancelar" type="button" (click)="cancelar()">Cancelar</button>
      <button
        [disabled]="contatoForm.invalid"
        [ngClass]="contatoForm.invalid ? 'botao-desabilitado' : 'botao-salvar'"
        type="submit"
      >
        Salvar contato
      </button>
    </section>
  </form>
</app-container>
